{{#each postagens}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{titulo}}</h4>
            <small>{{descricao}}</small><br>
            <a href="/postagem/{{slug}}"><button class="btn btn-success mt-4">Leia mais</button></a>
            <hr>
            <small>{{categoria.nome}}</small><br>
            <small>{{data}}</small>
        </div>
    </div>

{{else}}
    <h4 class="mt-4">Nenhuma postagem registrada!</h4>

{{/each}}